page-login {
    ion-icon {
        font-size:50px;
        margin: 10px;
    }

    ion-content {
        font-size:30px;
        margin: 10px;
    }

    #facebook {
        color: blue;
    }

    #google {
        color: red;
    }
}
