page-dashboard {
    p {
        margin: 2px;
    }
    #welcome {
        background-color: green;
        color: white;
    }
    #footer {
        background-color: green;
        color: white;
        margin-top: 3px;
        padding: 10px !important;
    }
    ion-card {
        margin-bottom: -8.5px !important;
    }
    ion-card.item.item-image {
        width: 100vw;
        margin-left: -.25px;
    }
    ion-card.bday {
        margin-top: -5px !important;
    }
    ion-card.subitem.item-image {
        width: 45vw;
        margin-left: -.25px;
    }
}
